* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
    color: #333;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px 25px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: #fff;
    color: #333;
    padding: 10px 20px;
    height: 50px;
    border-radius: 25px;
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search button {
    border: 0;
    outline: 0;
    background: #feb47b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 100px;
    margin-top: 20px;
}

.weather h1 {
    font-weight: 500;
    font-size: 60px;
}

.weather h2 {
    font-weight: 400;
    font-size: 30px;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
}

.col img {
    width: 30px;
    margin-bottom: 5px;
}

.error {
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .card {
        padding: 20px 15px;
    }

    .search input {
        padding: 8px 15px;
        height: 40px;
        font-size: 14px;
    }

    .search button {
        width: 40px;
        height: 40px;
    }

    .weather-icon {
        width: 80px;
    }

    .weather h1 {
        font-size: 40px;
    }

    .weather h2 {
        font-size: 20px;
    }

    .details {
        flex-direction: column;
        display:block
    }

    .col {
        margin-bottom: 15px;
    }
    
}
